@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Devanagari:wght@100..900&family=Unkempt:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    circle,
    rgb(243, 222, 197) 20%,   /* Soft orange */
    rgb(225, 180, 241) 50%, /* Vibrant violet */
    rgb(210, 187, 255) 100% /* Modern purple */
  );

  & .container {
    max-height: 90%;
    min-height: 100vh;

    max-width: 420px;
    min-width: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    /* for test */
    /* border: 5px solid black; */
    /* test end */
    padding: 20px;
    margin: 5px;
    border-radius: 50px;

    overflow: hidden;

    & .mainNav {
      /* for test */
      /* background: rgb(184, 121, 255); */
      /* temp end */
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 10px;

      & .open-close {
        /* for test  */
        /* background: red; */
        /* test end  */
      

        & #close {
          display: none;
          cursor: pointer;
          width:25px;
        }

        & #open {
          display: inline-block;
          cursor: pointer;
          width:25px;
        }
      }
      & p{
        font-size: 30px;
         font-weight: bold;
         font-family: "Kalam", cursive;
         color: rgb(79, 79, 168);
         & img{
            width: 30px;
         }
      }
      & #logout{
        padding: 9px;
        background: linear-gradient(to right,rgb(55, 108, 138),rgb(88, 167, 170));
        border-radius:10px;
        color: rgb(250, 250, 250);
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        height: 30px;
        font-size: 13px;
        cursor: pointer;
      }
    }

    position: relative;

    & .modules {
      width: 95%;
      height: 80vh;

      padding: 15px;
      
      position: absolute;
      top: 75px;
      right: 120%;
      
      display: flex;
      justify-content: center;
      overflow-y: scroll;
      z-index: 111;
      transition: right 0.3s ease;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
      
      
      
      & .course-container {
        & .course-section {
          padding: 16px;
          /* border-bottom: 10px solid #c8dbff; */
          /* background: linear-gradient(to right,rgb(137, 106, 163),rgb(82, 20, 117)); */
          & .course-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            color: #dcd4ff;
            margin-bottom: 10px;
            /* border: 2px solid rgb(17, 70, 65); */
            background: linear-gradient(120deg,#190b25,#544597);
            border-radius: 30px;
            padding-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 4px;
            & .progress {
              display: none;
            }
          }
        }
        & .course-item {
          display: flex;
          align-items: center;
          margin: 8px 0;
          border: 2px dotted rgb(120, 135, 223);
          background: rgb(244, 239, 255);
       
          /* box-shadow: 0px 1px 8px rgb(106, 152, 221); */
          padding: 5px;
          height: 80px;
          border-radius:12px;
          cursor: pointer;
          
          & .item-icon {
            font-size: 1.2em;
            color: #435343;
            margin-right: 10px;
            display: none;
          }
          & .item-content h3 {
            font-size: 1em;
            color: #333;
          }
          & .item-content p {
            font-size: 0.85em;
            color: #a3a3a3;
          }
        }
      }
    }

    & .nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;

      font-size: 1.2em;

      & i {
        font-style: normal;
      }
     
    }

    & .content {
      & ul {
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        list-style: none;

        & li {
          padding: 5px;
          border-radius: 20px;
          background: linear-gradient(
            25deg,
            rgb(181, 144, 223),
            rgb(175, 145, 182),
            rgb(234, 181, 255)
          );

          & video {
            border-radius: 20px;
          }

          display: flex;
          flex-direction: column;
          gap: 15px;
          & .ctr {
            display: flex;
            justify-content: right;

            gap: 5px;
            & input[type='checkbox'] {
              width: 20px;
              accent-color: rgb(62, 221, 62);
              cursor: pointer;
            }
            & i {
              color: rgb(25, 0, 48);
              font-style: normal;
            }
          }
        }
      }
    }
    & .assignment,
    .certificate {
      width: 300px;
      height: 50px;
      border-radius: 9.5px;
      padding-left: 5px;
      font-size: 1.1em;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
    }
    :hover {
      transform: translateY(-2px);
    }
    & .assignment {
      color: white;
      background: linear-gradient(
        25deg,
        rgb(109, 112, 214),
        rgb(93, 95, 155),
        rgb(107, 134, 200)
      );
    }
    & .certificate {
      color: white;
      background: linear-gradient(
        25deg,
        rgb(55, 138, 39),
        rgb(12, 93, 31),
        rgb(55, 138, 39)
      );
    }
    & .footNav{
      width: 100%;
      display: flex;
      justify-content: space-between;
      /* background-color: red; */
      font-size: 1.2em;
      position: relative;
      bottom: 10px;
      padding: 20px;
      & div {
        padding: 5px;
        text-transform: uppercase;
        border-radius: 10px;
      }
      :hover {
        color: rgb(87, 87, 87);
        cursor: pointer;
      }
      & .FnP {
        background: rgb(228, 207, 255);
        border: 2px solid rgb(167, 141, 202);
      }
      & .FnN {
        background: rgb(199, 253, 208);
        border: 2px solid rgb(144, 223, 158);
      }
    }
  }
}

